<style>
    body {
        -webkit-print-color-adjust: exact;
    }
</style>
 <table cellpadding=0 cellspacing=0 width=100%>
  <tr>
    <td valign=middle>
      <div style="display: block !important; padding: 10px;">
        <strong style="font-size: 36pt">{{ order_name }}</strong><br />
        <span style="font-size: 16pt;">{{ created_at | date: "%A, %B %-d, %Y <br>%I:%M %p" }}<br /></span>
      </div>
    </td>
    <td valign=top>
      <img align="right" src="https://cdn.shopify.com/s/files/1/0643/4043/files/packing_sheet_logo.jpg?9539006362626716064" width="300" />
    </td>
  </tr>
</table>
{% if shipping_address %}
<div style="padding: 10px;">
  <table cellpadding=0 cellspacing=0  width=100%>
    <tr>
      <td>
        <div style="font-size: 12pt; line-height:120%;">
          <strong>{{ shipping_address.name }}</strong><br/>
          {% if shipping_address.company %}
          {{ shipping_address.company }}<br/>
          {% endif %}
          {{ shipping_address.street }}<br/>
          {{ shipping_address.city }}
          {{ shipping_address.province_code }}
          {{ shipping_address.zip | upcase }}<br/>
          {{ shipping_address.country }}
        </div>
      </td>
      <td align=right width="40%">
        <div style="font-size: 14pt; line-height: 110%;">Shipping: 
          {% if shipping_method.title contains 'USPS' or shipping_method.title contains 'UPS' %}
            <strong>{{ shipping_method.title }}</strong>
          {% else %}
            {{ shipping_method.title }}
          {% endif %}
        </div>
      </td>
    </tr>
  </table>
</div>
{% endif %}
<br />
<div style="font-size: 12pt;">
  <table style="width: 100%; border: 1px solid #AAAAAA;">
    <thead>
      <tr style="height: 30px; background-color: black; border-color: #000000;">
        <th style="text-align: center; color: white; padding: 10px;">Qty</th>
        <th style="color: white; padding: 10px;">Item</th>
      </tr>
    </thead>
    <tbody>

      {% for line_item in line_items %}

      {% unless line_item.title contains 'Active Edge' or line_item.title contains 'Stainless' or line_item.title contains 'Swivel' or line_item.title contains 'Center Line' %}
      <tr style="border-bottom: 1px dashed #AAAAAA;">
      <td valign=top style="width: 50px; line-height: 150%; text-align: center; padding: 15px 0 20px 10px;">
      {% if line_item.quantity > 1 %}
      <strong>{{ line_item.quantity }}</strong>
      {% else %}
       {{ line_item.quantity }}<br><br>
       {{ line_item.product.featured_image | product_img_url: 'small' | img_tag }}
      {% endif %}
       </td>
        <td valign=top style="line-height: 150%; padding: 15px 15px 10px 10px;">
             <b>{{ line_item.title }}</b>
              <ul>
             
                {% for p in line_item.properties %}
                {% if p.first == "builder_id" or p.first == "builder_info" or p.first == "master_builder" or p.last == "" %}{% else %}
                {% unless p.last == blank %}
             
                {% if p.first contains 'Active Edge' or p.first contains 'Swivel' or p.first contains 'Center Line' %}
                <li style="list-style-type: dot; line-height: 2em;"><b style="text-decoration: underline;">{{ p.first }}:</b> {{ p.last | remove: "(add. $2.00)" }}</li>
                {% else %}
                <li style="list-style-type: circle; line-height: 2em;"><span style="text-decoration: underline;">{{ p.first }}</span>: {{ p.last }}</li>
                {% endif %}
             
                {% endunless %}
                {% endif %}
                {% endfor %}
             
              </ul>
        </td>
      </tr>
      {% endunless %}

      {% endfor %}
    </tbody>
  </table>
</div>